{% extends 'base.html' %}

{% block content %}

<section class="bg-light text-center">
    <div class="has-bg-img mt-5">
        <img src="../../static/images/main_img.jpg" alt=""class="bg-img bg-cover" style="height:90vh; width:100%;">
        <div class="carousel-caption position-absolute top-50 start-50 translate-middle">
            <h1>Car searching shaped to your life!</h1>
            <input class="form-control me-1 rounded-pill border border-3" type="text" id="search-car" placeholder="Search make, model, or type">
        </div>
    </div>
</section>
{% endblock %}